<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> GYM RAT</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="./css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="./css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">
<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="">
            <span>
              GYM RAT
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">


              <li class="nav-item ">
                <a class="nav-link" href="/#">Coaches</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/gymsubstrainees"> Trainees  </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/#"> reels</a>
              </li>

              <li class="nav-item active" >
                <a class="nav-link" href="/gymprofile"> Profile  </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/logout"> Logout</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
</div>


<!-- trainer section -->

<section class="trainer_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Trainees
      </h2>
    </div>
    <div class="row">
      <div class="box" th:each="co : ${dataurl}">
        <div class="name">
          <h5>
            <span th:text="${co.trainer.name}"></span>
          </h5>
        </div>
        <div class="img-box">
          <img th:src="'data:image/jpeg;base64,' + ${co.base64Image}" alt="image">
        </div>

      </div>

    </div>
  </div>
</section>

<!-- end trainer section -->

<!-- end info_section -->

<!-- footer section -->

<!-- footer section -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>